.detailContainer{
    height: 100%;
    width: 100%;
    //background-color: hsl(219, 48%, 8%);
    //background-color: #0a192f;
    background-color: #041C32;
}


.VideogameDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 75%;
    align-items: center;
    color: aliceblue;
    //font-family: 'poppins' sans-serif;
    font-family: 'Calibre', sans-serif;

    .titleDetail{
        margin-top: 30px;
    }

    h5{
        font-size: 15px;
    }

    h6{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: aliceblue;
        .mdStar{
            margin-right: 3px;
        }
    }

    p{
        top: 20px;
        max-width: 800px;
        font-size: 18px;
    }
}

img {
    width: 50%;
    border-radius: 10px;
}

.link{
    text-decoration: none;
}

.buttonBackDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 40px;
    font-size: large;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;

    svg{
        margin-right: 3px;
    }
}

.buttonBackDetail:hover{
    background-color: #64ffdb43;
    transition: .3s;
}