
.landingPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-image: url('../../images/desktop-bg-3.jpg');
    background-color: #041C32;
    //background-image: url(../../images/mobile-background-image.jpg);
    //background-size: 50%; 
}

.linkHome{
    text-decoration: none;
}

.landingButton {
    padding: 30px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: aliceblue;
    background-color: #041C32;
    font-weight: bolder;
    cursor: pointer;
}

.landingButton:hover {
    background-color: rgb(67, 73, 139);
}